# This workflow lets you compile your Go project using a SLSA3 compliant builder.
# This workflow will generate a provenance file describing the steps performed to
# generate the final binaries. Learn more at https://github.com/slsa-framework/slsa-github-generator.

name: SLSA Go releaser
on:
  workflow_dispatch:
  release:
    types: [created]

permissions: read-all

jobs:
  build:
    permissions:
      id-token: write # To sign.
      contents: write # To upload release assets.
      actions: read   # To read workflow path.
    strategy:
      matrix:
        os:
          - darwin
          - linux
        arch:
          - amd64
          - arm64
    uses: slsa-framework/slsa-github-generator/.github/workflows/builder_go_slsa3.yml@v2.0.0
    with:
      go-version: 1.21
      config-file: .slsa-goreleaser/${{ matrix.os }}-${{ matrix.arch }}.yml
